<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/enquetemobile?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">AQ-10.07-lr</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.pool_size">1</property>
    <property name="current_session_context_class">thread</property>
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    
    <mapping class="mobilepoll.database"
    <mapping class="mobilepoll.database.repository.model.City" />
    <mapping class="mobilepoll.database.repository.model.FederalUnity" />
    <mapping class="mobilepoll.database.repository.model.Superscription" />
    <mapping class="mobilepoll.database.repository.model.AddressType" />
    <mapping class="mobilepoll.database.repository.model.Persona" />
  </session-factory>
</hibernate-configuration>
